header {
    width: 100%;
    height: 10vh;
    background-color: $baseColor;
    position: relative;
    display: grid;
    font-family: $fontHeadline;
    font-size: $fontSizeSmall;
    color: $fontColorWhite;
}

.logo {
    left: 0;
    height: 6vh;
    margin-left: 15px;
}

.headerGrid {
    grid-template-columns: 10% 10% 10% 67% 10%;
    display: grid;
    align-items: center;
}

.navCell1 {
    justify-self: left;
}

.navCell2 {
    justify-self: left;
    margin-left: 15px;
}

.navCell3 {
    justify-self: left;
}

.navCell4 {
    justify-self: end;
    margin-right: 10px;
}

.navCell5 {
    justify-self: end;
}

.search {
    border: 1px solid $baseColor;
    border-radius: 3px;
}

.searchSize {
    width: 15%;
}

a:visited {
    text-decoration: none;
    color: white;
}