h1 {
  font-size: $fontSizeLarge;
  font-family: $fontHeadline;
  color: $fontColor;
}

h2 {
  font-size: $fontSizeLarge;
  font-family: $fontHeadline;
  color: $fontColor;
}

h3 {
  font-size: $fontSizeSmall;
  font-family: $fontHeadline;
  color: $fontColor;
}

p {
  font-size: $fontSizeSmall;
  font-family: $fontParagraph;
  color: $fontColor;
}

.whiteText {
    color: $fontColorWhite;
}

.breadcrumbs {
    font-size: $fontSizeVSmall;
    font-family: $fontParagraph;
    color: $fontColor;
}

.overskrift {
  margin-left: 3%;
  padding-top: 3.5vh;
}