/* Colors */

$baseColor: #49A078;
$historyColor: #766153;
$englishColor: #B4D4EE;
$naturescienceColor: #218380;
$mathColor: #6E2594;
$religionColor: #E2DE84;
$socialstudiesColor: #4381C1;

/* Fonts */

$fontColor: #000000;
$fontColorWhite: #ffffff;
$fontSizeSmall: 1em;
$fontSizeLarge: 1.5em;
$fontHeadline: 'Raleway', sans-serif;
$fontParagraph: 'Open Sans', sans-serif;