/* Colors */

$baseColor: #49a078;
$historyColor: #766153;
$englishColor: #b4d4ee;
$naturescienceColor: #218380;
$mathColor: #6e2594;
$religionColor: #e2de84;
$socialstudiesColor: #4381c1;

/* Fonts */

$fontColor: #000000;
$fontColorWhite: #ffffff;
$fontSizeVSmall: 0.5em;
$fontSizeMSmall: 0.75em;
$fontSizeSmall: 0.9em;
$fontSizeLarge: 1.4em;
$fontHeadline: "Raleway", sans-serif;
$fontParagraph: "Open Sans", sans-serif;
