@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Colors */
/* Fonts */
h1 {
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

h2 {
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

h3 {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

p {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

.whiteText {
  color: #ffffff;
}

.breadcrumbs {
  font-size: 0.5em;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

.overskrift {
  margin-left: 3%;
  padding-top: 3.5vh;
}

.underoverskrift {
  margin-left: 3%;
  margin-top: 1em;
}

p, h1, h2, h3, h4, h5, body, a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 15vh;
  background-color: #49a078;
  position: relative;
  display: -ms-grid;
  display: grid;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #ffffff;
}

.logo {
  height: 10vh;
}

.headerGrid {
  -ms-grid-columns: 18% 10% 10% 58% 2%;
      grid-template-columns: 18% 10% 10% 58% 2%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navCell1 {
  -ms-grid-column-align: left;
      justify-self: left;
}

.navCell2 {
  -ms-grid-column-align: left;
      justify-self: left;
}

.navCell3 {
  -ms-grid-column-align: left;
      justify-self: left;
}

.navCell4 {
  -ms-grid-column-align: end;
      justify-self: end;
}

.navCell5 {
  -ms-grid-column-align: end;
      justify-self: end;
}

.search {
  border: 1px solid #49a078;
  border-radius: 3px;
}

.searchSize {
  width: 100%;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

.footer {
  width: 100%;
  height: 110px;
  background-color: #49a078;
  padding-bottom: 1em;
  padding-top: 1em;
}

.footerLeft {
  float: left;
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  margin-bottom: 10px;
}

.footerRight {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
}

.workSpace {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 10vh auto 10vh auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.imgSize {
  height: 100px;
  width: 100px;
}

.smallMainCell {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-template: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.innerCell {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  margin: auto 20px auto auto;
}

.innerCell2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  margin-top: 10px;
}

.innerCell3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.marginTop {
  margin-top: 25vh;
}

.textAlignLeft {
  text-align: left;
}

.halfed {
  width: 80%;
}

#loginglemt {
  color: #000000;
  font-size: 0.75em;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
  text-align: center;
}

.loginbox {
  width: 150px;
  text-align: left;
  margin: auto;
  margin-top: 20vh;
}

#uniMargin {
  margin-bottom: 0.5em;
}

#passwordMargin {
  margin-top: 0.5em;
}

#btnMargin {
  margin-top: 0.5em;
}

.loginInput {
  width: 100%;
  height: 25px;
  padding-left: 3px;
  border-width: 1px;
  margin-top: 5px;
  background-color: #eeeeee;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
}

.avatar {
  width: 10%;
  left: 82%;
  margin-right: 10%;
  position: fixed;
  z-index: 100;
}

.styleImg {
  width: 120px;
  height: auto;
  margin-left: 3.2em;
  margin-top: 4em;
}

#pageContainer {
  position: relative;
  min-height: 100vh;
}

#contentWap {
  padding-bottom: 110px;
}

#footer {
  position: absolute;
  bottom: 0;
}

.btnOne {
  float: clear;
  height: 30px;
  width: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: #49a078;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #ffffff;
  border: 0px;
  text-align: center;
}

.breadcrumb {
  font-family: "Raleway", sans-serif;
  padding-top: 4vh;
  padding-left: 4vh;
  list-style-type: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li::before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #49a078;
}

ul.breadcrumb li a:hover {
  color: #49a078;
  text-decoration: underline;
}

.workSpace2 {
  display: -ms-grid;
  display: grid;
  width: 80%;
  height: 80vh;
  margin: 10vh auto 20vh auto;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.imgSizeEmne {
  width: 100%;
}

.emneCell1, .emneCell2, .emneCell3, .emneCell4, .emneCell5, .emneCell6 {
  position: relative;
}

.opacityContainer {
  height: 10vh;
  width: 100%;
  background-color: rgba(217, 215, 215, 0.7);
  position: absolute;
  bottom: 4px;
  text-align: center;
}

.centerText {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.progressBar1 {
  position: absolute;
  height: 2vh;
  width: 100%;
  background-color: blue;
  bottom: 0;
}

.progressBar2 {
  position: absolute;
  height: 2vh;
  width: 100%;
  background-color: green;
  bottom: 0;
}

.progressBar3 {
  position: absolute;
  height: 2vh;
  width: 100%;
  background-color: yellow;
  bottom: 0;
}

.progressBar4 {
  position: absolute;
  height: 2vh;
  width: 100%;
  background-color: red;
  bottom: -4px;
}

.progressBar5 {
  position: absolute;
  height: 2vh;
  width: 100%;
  background-color: orange;
  bottom: 0;
}

.progressBar6 {
  position: absolute;
  height: 2vh;
  width: 100%;
  background-color: slateblue;
  bottom: 0;
}

.mileGrid {
  display: -ms-grid;
  display: grid;
  width: 90%;
  height: 80vh;
  margin: 10vh auto 10vh auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.mileCell2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.mileDone {
  width: 100%;
  height: 80%;
  border-style: solid;
  border-color: #c8c8c8;
}

.mileTask {
  width: 100%;
  height: 80%;
  border-style: solid;
  border-color: #c8c8c8;
}

.mileAvatar {
  width: 100%;
  height: 90%;
  border-style: solid;
  border-color: #c8c8c8;
  text-align: center;
}

#avatarMile {
  margin-top: 10%;
  width: 50%;
}

.unlocked {
  width: 64px;
}

.mileAch {
  display: -ms-grid;
  display: grid;
  width: 90%;
  height: 80%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  text-align: center;
  border-style: solid;
  border-color: #c8c8c8;
}

.innerAch {
  width: 90%;
  height: 90%;
  margin: auto;
}

.achImg {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}

.achText {
  margin-top: 20px;
}

.achBtn {
  text-align: center;
  width: auto;
  padding: auto;
  margin: auto;
}

.allmileGrid {
  display: -ms-grid;
  display: grid;
  width: 90%;
  height: 60vh;
  margin: 10vh auto 10vh auto;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.mileDone {
  width: 100%;
  height: 80%;
  border-style: solid;
  border-color: #c8c8c8;
}

.mileTask {
  width: 100%;
  height: 80%;
  border-style: solid;
  border-color: #c8c8c8;
}

.allmileAvatar {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #c8c8c8;
  text-align: center;
}

.unlocked {
  width: 64px;
}

.allmileAch {
  display: -ms-grid;
  display: grid;
  width: 90%;
  height: 90%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  text-align: center;
  border-style: solid;
  border-color: #c8c8c8;
}

.innerAch {
  width: 90%;
  height: 100%;
  margin: auto;
}

.achImg {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}

.allachText {
  margin-top: 10px;
}

.achBtn {
  text-align: center;
  width: auto;
  padding: auto;
  margin: auto;
}

#avatarAllMile {
  margin-top: 10%;
  margin-bottom: 10%;
}

.textWorkSpace {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 10vh auto 10vh auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  grid-gap: 15px;
}

.textCell1 {
  grid-column: span 2;
  display: -ms-grid;
  display: grid;
  margin-bottom: 2vh;
}

.textCell2 {
  margin-bottom: 2vh;
}

.textCell3 {
  margin-bottom: 2vh;
  grid-column: span 2;
}

.textCell4 {
  margin-bottom: 2vh;
}

.textCell5 {
  margin-bottom: 2vh;
  display: -ms-grid;
  display: grid;
}

.introVideo {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
  height: 90vh;
  border: 2px black solid;
}

.textFont {
  font-size: 0.75em;
  text-decoration: underline;
}

.imgSizeLarge {
  width: 60%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.formClass {
  margin-top: 5vh;
}

.inputBox {
  margin-top: 1vh;
  margin-bottom: 3vh;
  width: 90%;
}

.formText {
  width: 90%;
}
/*# sourceMappingURL=style.css.map */