.btnOne {
  float: clear;
  height: 30px;
  width: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: $baseColor;
  font-family: $fontHeadline;
  font-size: $fontSizeSmall;
  color: $fontColorWhite;
  border: 0px;
  text-align: center;
}
