.breadcrumb {
  font-family: $fontHeadline;
  padding-top: 4vh;
  padding-left: 4vh;
  list-style-type: none;
}

ul.breadcrumb li{
  display: inline;
}

ul.breadcrumb li+li::before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: $baseColor;
}

ul.breadcrumb li a:hover {
  color: $baseColor;
  text-decoration: underline;
}