.workSpace2 {
    display: grid;
    width: 90%;
    height: 80vh;
    margin: 10vh auto 20vh auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
}
.imgSizeEmne {
    width: 100%;
}

