.footer {
  width: 100%;
  height: 110px;
  background-color: $baseColor;
  padding-bottom: 1em;
  padding-top: 1em;
  position: relative;
}

.footerLeft {
  float: left;
  font-family: $fontHeadline;
  margin-left: 10px;
  margin-bottom: 10px;
}

.footerRight {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
  font-family: $fontHeadline;
}
