header {
  width: 100%;
  height: 15vh;
  background-color: $baseColor;
  position: relative;
  display: grid;
  font-family: $fontHeadline;
  font-size: $fontSizeSmall;
  color: $fontColorWhite;
}

.logo {
  height: 10vh;
}

.headerGrid {
  grid-template-columns: 18% 10% 10% 50% 2% 8%;
  display: grid;
  align-items: center;
}

.navCell1 {
  justify-self: left;
}

.navCell2 {
  justify-self: left;
}

.navCell3 {
  justify-self: left;
}

.navCell4 {
  justify-self: end;
}

.navCell5 {
  justify-self: end;
}

.navCell6 {
  justify-self: end;
}

.search {
  border: 1px solid $baseColor;
  border-radius: 3px;
}

.searchSize {
  width: 100%;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}
