#loginglemt {
  color: #000000;
  font-size: $fontSizeMSmall;
  font-family: $fontParagraph;
}
.wrapper {
  width: 90%;
  margin: auto;
  text-align: center;
}

.loginbox {
  width: 150px;
  text-align: left;
  margin: auto;
  margin-top: 20vh;
}

#uniMargin {
  margin-bottom: 0.5em;
}

#passwordMargin {
  margin-top: 0.5em;
}

#btnMargin {
  margin-top: 0.5em;
}

.loginInput {
  width: 100%;
  height: 25px;
  padding-left: 3px;
  border-width: 1px;
  margin-top: 5px;
  background-color: #eeeeee;
  font-family: $fontParagraph;
  font-size: $fontSizeMSmall;
}
