
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .mileAch {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mileGrid {
    display: grid;
    width: 90%;
    height: 60vh;
    margin: 5vh auto 5vh auto;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
  }

  #innerAch4 {
    display: none;
  }
  
  #innerAch5 {
    display: none;
  }

  #innerAch9 {
    display: none;
  }

  #innerAch10 {
    display: none;
  }

  header {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .headerGrid{
    height: 0px;
    display: none;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .workSpace {
    width: 100%;
    margin: 10vh auto 10vh auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .workSpace2 {
    width: 80%;
    margin: 10vh auto 20vh auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .headerGrid {
    grid-template-columns: 35% 10% 10% 40% 2% 8%;
    display: grid;
    align-items: center;
  }
  .marginSide {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .mainCell {
    height: auto;
  }

  .mainCell2 {
    height: auto;
  }

  .mainCell3 {
    height: auto;
  }
  .search {
    display: none;
  }
  .searchSize {
    display: none;
  }

  .achImg {
    margin-top: 10px;
  }

  .mileCell2 {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
  }

  .mileGrid {
    display: grid;
    width: 90%;
    height: 120vh;
    margin: 5vh auto 5vh auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .mileAch {
    width: 100%;
  }

  #styleBtn {
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #styleGrid {
    grid-template-rows: 2fr 1fr 1fr 1fr;
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  
}