.mileGrid {
  display: grid;
  width: 90%;
  height: 80vh;
  margin: 10vh auto 10vh auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.mileCell2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.mileDone {
  width: 100%;
  height: 80%;
  border-style: solid;
  border-color: #c8c8c8;
}

.mileTask {
  width: 100%;
  height: 80%;
  border-style: solid;
  border-color: #c8c8c8;
}

.innerAvatar{
  display: grid;
  width: 100%;
  height: 90%;
  border-style: solid;
  border-color: #c8c8c8;
  justify-content: center;
  align-content: center;
}

.unlocked {
  width: 64px;
}

.mileAch {
  display: grid;
  width: 90%;
  height: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  text-align: center;
  border-style: solid;
  border-color: #c8c8c8;
}

.innerAch {
  display: grid;
  width: 90%;
  height: 90%;
  margin-top: 20px;
  justify-content: center;
  overflow: hidden;
}

.achBtn {
  text-align: center;
  width: auto;
  padding: auto;
  margin: auto;
}

